@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Gloria+Hallelujah&family=Jockey+One&family=Press+Start+2P&family=Special+Elite&display=swap');

body{
    font-family: 'Special Elite', cursive;
        background-color:black;
    color: white;
}

.page-title{
    margin-top: 2rem;
    border-radius: 25px;
    margin-bottom: 3rem;
}
h3{ 
    width: 40rem;
    color:antiquewhite;
    font-size: 1.5rem;    
}
.container{
    display: flex;
    flex-direction: row;
}

.background-dragon > img{
    height: 50rem;
    width: auto;
}

.motivating-quote{
    font-size: 1.5rem;
}

form{    
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: 	#1B1212;
    border-radius: 5px;
}

.left-side-screen{
    position: relative;
}

.right-side-screen{
    padding-left: 100px;
}

.form-upper{
    display: flex;
}

.left-side-form{
    display: flex;
    flex-direction: column;
}

.right-side-form{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

h6{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input{
    font-size: large;
    border-radius: 3px;
    height: 2rem;
    width: 20rem;
}

label{
    margin-top: 1rem;
}

button{    
    font-family: inherit;
    margin-top: 1.5rem;
    background-color:darkred;
    color: white;
    border-radius: 5px;
    height: 2rem;
    width: 10rem;
    border: none;
    font-size: 1rem;
    text-align: center;
}

h5{
   margin: 0.3rem;
}

output{

    width:21rem;
    word-wrap: break-word;
    font-size: small;
}

.password-criteria p{
    font-size: 0.75rem;
    appearance: none;
    margin: 0.25rem;
}

#password-message{
    margin-top: 8px;
    font-size: medium;
    color: yellow;
}
/* CSS FOR FIELDS */

input{
    appearance: none;
    margin: 0;
    font-family: inherit;    
}
