@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Jockey+One&family=Press+Start+2P&display=swap');
body{
    font-family: 'Aclonica', sans-serif;
    background-color:black;
    color: white;
}

.page-title{
    padding: 8px;
    border-radius: 25px;
}
h3{
    width: 30rem;
    color: yellow;
    font-size: 1.5rem;    
}
.container{
    display: flex;
    flex-direction: row;
}

.background-dragon > img{
    height: 50rem;
    width: auto;
}

.motivating-quote{
    font-size: 1.5rem;
}

form{
    
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: 	#1B1212;
    box-shadow: 2px 4px 2px #28282B;
}

.right-side-screen{
    padding-left: 100px;
}

.form-upper{
    display: flex;
}

.left-side-form{
    display: flex;
    flex-direction: column;
}

.right-side-form{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

h6{
    margin-top: 8px;
    margin-bottom: 8px;
}

input{
    border-radius: 5px;
    height: 1.5rem;
    width: 20rem;
}

.labels{
    color: orangered;
}
button{
    font-family: inherit;
    margin-top: 16px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    height: 2rem;
    width: 10rem;
    border: none;
}

h5{
   margin: 0.3rem;
}

output{

    width:21rem;
    word-wrap: break-word;
    font-size: small;
}

.password-criteria p{
    font-size: 0.75rem;
    appearance: none;
    margin: 0.25rem;
}

#password-message{
    margin-top: 8px;
    font-size: small;
    color: yellow;
}
/* CSS FOR FIELDS */

input{
    appearance: none;
    margin: 0;
    font-family: inherit;    
}
